$primary: #0C041E;
$font: "Inter Tight", sans-serif;
$color: #FFFFFF;

body {
    font-family: $font;
    color: $color;
    background-color: #110727;
}

.header_text {
    font-family: $font;
    font-weight: 600;
}

.swiper-button-next:after {
    color: $color;
}

.swiper-button-prev:after {
    color: $color;
}

.swiper-scrollbar-drag {
    background: $color;
}

.size_img {
    width: 100%;
    border-radius: 6px;
}

.size_img2 {
    width: 100%;
    border-radius: 0px;
}

.size_p {
    font-size: 18px;
    padding-left: 6px;
}

.size_p2 {
    font-size: 14px;
    padding-left: 6px;
    
}

.backtext {
    background: rgb(46, 22, 83);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(60, 0, 92, 1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(60, 0, 92, 1);
    box-shadow: 0px 0px 10px -3px rgba(60, 0, 92, 1);
}

.text_azul {
    text-decoration: none;
}

@media (min-width: 994px) {
    .size_img {
        width: 35%;
    }
}

footer {
    background-color: var(--vermelho);
    padding: 16px;
    margin-top: 32px;

    .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--branco);

        div {
            text-align: center;
        }
    }

    a {
        color: var(--branco);
        text-decoration: none;
    }

    h3 {
        font-weight: bold;
        padding-bottom: 8px;

    }

    .creditos {
        display: flex;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        color: var(--branco);
    }
}

.card_w {
    width: 280px;
}